{
  "status_code": 422,
  "message": "422 Unprocessable Entity",
  "errors": {
    "entity": {
      "fields": {
        "title": [
          "Title field is required.",
          "Title field must be at least 3 characters long."
        ]
    }
  }
}