{
  "data":{
    "id":2,
    "type":"workflow-point",
    "workflow_id":2,
    "status":"archived",
    "endpoint":"archive",
    "action":"Archive",
    "name":"Archived",
    "public":0,
    "deleted":1,
    "description":"Archived objects",
    "sort_order":0,
    "workflow":{
       "id":2,
       "type":"workflow",
       "links":{
          "self":"http://api.cookbookcms.com/workflows/2"
       }
    },
    "steps":[
       {
          "id":3,
          "type":"workflow-point",
          "links":{
            "self":"http://api.cookbookcms.com/workflow-points/3"
          }
       }
    ],
    "created_at":"2016-04-07T15:30:50+0000",
    "updated_at":"2016-04-07T15:30:50+0000",
    "links":{
      "self":"http://api.cookbookcms.com/workflow-points/2"
    }
  },
  "meta":{
    "id":"2",
    "include":[]
  },
  "links":{
    "self":"http://api.cookbookcms.com/workflow-points/2"
  }
}