{
  "data":{
    "id":1,
    "type":"entity-type",
    "code":"page",
    "endpoint":"pages",
    "name":"Web Page",
    "plural_name":"Web Pages",
    "localized":1,
    "localized_workflow":1,
    "workflow_id":2,
    "workflow":{
       "id":2,
       "type":"workflow",
       "links":{
          "self":"http://api.cookbook.com/workflows/2"
       }
    },
    "default_point_id":3,
    "default_point":{
       "id":3,
       "type":"workflow-point",
       "links":{
          "self":"http://api.cookbook.com/workflow-points/3"
       }
    },
    "multiple_sets":1,
    "default_set_id":0,
    "attribute_sets":[
       {
          "id":1,
          "type":"attribute-set",
          "links":{
             "self":"http://api.cookbook.com/attribute-sets/1"
          }
       },
       {
          "id":2,
          "type":"attribute-set",
          "links":{
             "self":"http://api.cookbook.com/attribute-sets/2"
          }
       }
    ],
    "created_at":"2016-04-07T15:31:00+0000",
    "updated_at":"2016-04-07T15:31:00+0000",
    "links":{
       "self":"http://api.cookbook.com/entity-types/1"
    }
  },
  "meta":{
    "id":"1",
    "include":[
  
    ]
  },
  "links":{
    "self":"http://api.cookbook.com/entity-types/1"
  }
}