{
  "data":[
    {
      "id":1,
      "type":"entity-type",
      "code":"page",
      "endpoint":"pages",
      "name":"Page",
      "plural_name":"Pages",
      "localized":1,
      "localized_workflow":1,
      "workflow_id":2,
      "workflow":{
         "id":2,
         "type":"workflow",
         "links":{
            "self":"http://api.cookbook.com/workflows/2"
         }
      },
      "default_point_id":3,
      "default_point":{
         "id":3,
         "type":"workflow-point",
         "links":{
            "self":"http://api.cookbook.com/workflow-points/3"
         }
      },
      "multiple_sets":1,
      "default_set_id":0,
      "attribute_sets":[
         {
            "id":1,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/1"
            }
         },
         {
            "id":2,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/2"
            }
         }
      ],
      "created_at":"2016-04-07T15:31:00+0000",
      "updated_at":"2016-04-07T15:31:00+0000",
      "links":{
         "self":"http://api.cookbook.com/entity-types/1"
      }
    },
    {
      "id":3,
      "type":"entity-type",
      "code":"category",
      "endpoint":"categories",
      "name":"Category",
      "plural_name":"Categories",
      "localized":0,
      "localized_workflow":0,
      "workflow_id":1,
      "workflow":{
         "id":1,
         "type":"workflow",
         "links":{
            "self":"http://api.cookbook.com/workflows/1"
         }
      },
      "default_point_id":1,
      "default_point":{
         "id":1,
         "type":"workflow-point",
         "links":{
            "self":"http://api.cookbook.com/workflow-points/1"
         }
      },
      "multiple_sets":1,
      "default_set_id":0,
      "attribute_sets":[
         {
            "id":3,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/3"
            }
         }
      ],
      "created_at":"2016-04-07T15:31:00+0000",
      "updated_at":"2016-04-07T15:31:00+0000",
      "links":{
         "self":"http://api.cookbook.com/entity-types/3"
      }
    },
    {
      "id":5,
      "type":"entity-type",
      "code":"project",
      "endpoint":"projects",
      "name":"Project",
      "plural_name":"Projects",
      "localized":1,
      "localized_workflow":1,
      "workflow_id":2,
      "workflow":{
         "id":2,
         "type":"workflow",
         "links":{
            "self":"http://api.cookbook.com/workflows/2"
         }
      },
      "default_point_id":3,
      "default_point":{
         "id":3,
         "type":"workflow-point",
         "links":{
            "self":"http://api.cookbook.com/workflow-points/3"
         }
      },
      "multiple_sets":1,
      "default_set_id":0,
      "attribute_sets":[
         {
            "id":4,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/4"
            }
         },
         {
            "id":5,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/5"
            }
         },
         {
            "id":6,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/6"
            }
         },
         {
            "id":7,
            "type":"attribute-set",
            "links":{
               "self":"http://api.cookbook.com/attribute-sets/7"
            }
         }
      ],
      "created_at":"2016-04-07T15:31:00+0000",
      "updated_at":"2016-04-07T15:31:00+0000",
      "links":{
         "self":"http://api.cookbook.com/entity-types/5"
      }
    }
  ],
  "meta":{
    "count":3,
    "offset":0,
    "limit":0,
    "total":3,
    "filter":[],
    "sort":[],
    "include":[]
  },
  "links":{
    "self":"http://api.cookbook.com/entity-types"
  }
}